.authentication__header {
    color: white;
    text-align: center;
  }
  
  .authentication {
    width: 90%;
    max-width: 40rem;
    margin: 7rem auto;
    text-align: center;
    color: rgb(69, 68, 140);
    box-shadow: 0 2px 12px rgb(0, 0, 0,0.3);
  }
  
  .authentication form {
    margin-bottom: 1rem;
    color: rgb(69, 68, 140);
  }